In [ ]:
print("Twinkle, twinkle, little star,\n\t How I Wonder what you are!\n\t\tUp above the world so high,\n\t\t Like a diamond in the sky.\n Twinkle, twinkle, little star,\n\tHow I Wonder What you are");

Twinkle, twinkle, little star,
	 How I Wonder what you are!
		Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	How I Wonder What you are

In [4]:
a = int (input("enter the value: "));
b =int (input("enter the value: "));
c = a+b;
print(int(c));

enter the value: 10
enter the value: 2
12

In [6]:
firstname = input("enter the firstname: ");
lastname = input("enter the lastname: ");
print (lastname +" "+firstname);

enter the firstname: nayab
enter the lastname: asghar
asghar nayab

In [ ]:
import datetime
now = datetime.datetime.now();
print("current date and time:");
print (now.strftime("%y-%m-%d %H:%m:%s"));

current date and time:
21-12-31 23:12:1640991682

In [9]:
import math 
radius = float(input("input the radius of a circle:"));
area = float(3.14*radius**2);
print("area of a circle with radius " + str(radius) + "is" + str(area));

input the radius of a circle:12
area of a circle with radius 12.0is452.16

In [12]:
import platform
print(platform.python_version());

3.7.12